
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

// Color variables
$white: #ffffff;

$primary: #4090cb;
$success: #47bd9a;
$info: #06c2de;
$warning: #f9d570;
$danger: #e74c5e;
$dark: #FFFFFF; // card graph thi ng
$muted: #553c8b;

// Gray Coloz
$gray-100:                  #FFFFFF; // LANGUAGE stuff
$gray-200:                  #FFFFFF; // topmenu left items - dropdown
$gray-300:                  #FFFFFF; // search and square
$gray-400:                  #FFFFFF; // ???
$gray-500:                  #553c8b; // ??
$gray-600:                  #553c8b; // ??
$gray-700:                  #553c8b; // ??
$gray-800:                  #553c8b; // ??
$gray-900:                  #553c8b; // ??

$bg-body: #0000\00; // body
$body-color: #553c8b; // footer text color?
$left-bar: #FFFFFF; //leftbar
$topbar-background: #553c8b; //topbar
$footer-background: #FFFFFF; // foot fetish

// light leftbar

$light-leftbar:                     #90ee90;
$light-leftbar-menu-active-color:   #4090cb;
$topbar-background-dark:            #90ee90;

$font-family: 'Roboto', sans-serif;
$font-family-secondary: 'Rubik', sans-serif;

$shadow: 0px 0px 13px 0px rgba(36, 36, 41, 0.07);

$base-font: 14px;

// Width variables
$width: 100%;

// Height variables
$height: 100%;

$leftbar-menu-color: #553c8b; // leftbar text colors
$leftbar-menu-hover-color: #b4c9de;
$leftbar-menu-active-color: #553c8b;
